@model ProductAdding
@{
    Layout = "_AdminLayout";
}

<form asp-action="SaveProduct" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label>Id</label>
        <input asp-for="@Model.Product.Id" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label>Название</label>
        <input asp-for="@Model.Product.Name" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Описание</label>
        <input asp-for="@Model.Product.Description" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Короткое описание</label>
        <input asp-for="@Model.Product.ShortDescription" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="category-input">Категория</label>
        <div class="row">
            <div class="col-10">
                <select id="category-select" asp-for="@Model.Product.Category.Name" class="form-control" required>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <a class="btn btn-primary mb-2"
                   asp-controller="Product"
                   asp-action="CreateCategory"
                   asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Изменить</a>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label>Цена</label>
        <input asp-for="@Model.Product.Price" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Изображение</label>
        <input asp-for="@Model.Product.ImageUrl" class="form-control" required />
    </div>

    <div class="form-check">
        <input asp-for="@Model.Product.IsVisible" /> Активен
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Сохранить" />
    </div>
</form>
<div class="my-2">
    <a class="btn btn-dark mb-2"
       asp-controller="Product"
       asp-action="GetProductList"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Список продуктов</a>
</div>
