@model CartView
@{
    Layout = "_Layout";
}
<div class="container align-content-center">
    <h2>Корзина</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Количество</th>
                <th>Товар</th>
                <th class="text-end">Цена</th>
                <th class="text-end">Итого</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                <tr>
                    <form id="@($"form_{line.Product.Id}")" asp-action="ScriptUpdateCart">
                    <td class="text-center">
                        <input name="productId" class="form-control" value="@line.Product.Id" type="hidden"/>
                        <input type="number" min="1" name="quantity" id="@line.Product.Id" class="form-control" value="@line.Quantity" onkeydown="event.preventDefault()" />
                    </td>
                    </form>
                    <td class="text-start">@line.Product.Name</td>
                    <td class="text-end">@line.Product.Price</td>
                    <td class="text-end" id="@($"subTotal_{line.Product.Id}")">
                            @((line.Quantity * line.Product.Price))
                    </td>
                    <td class="text-center">
                        <a asp-action="RemoveLine" asp-route-productId="@line.Product.Id" class="btn btn-sm btn-danger">Удалить</a>
                    </td>
                </tr>
                }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end">Итого:</td>
                <td class="text-end" id="total">
                    @Model.Cart.ComputeTotalValue()
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<div class="text-center">
    <a class="btn btn-primary me-5" href="@Model.ReturnUrl">Продолжить покупки</a>
    @if (Model.Cart.Lines.Any())
    {
        <a class="btn btn-info" asp-action="Checkout" asp-controller="Order">Оформить заказ</a>
    }
</div>


@section Scripts{
    <script>
        window.onload = function () {
            const quantityInputs = Array.from(document.getElementsByName('quantity'));
            async function onChange(e) {
                const inputId = e.target.id;
                const formElement = document.getElementById(`form_${inputId}`);
                const formData = new FormData(formElement);
                const productId = formData.get('productId');
                const quantity = formData.get('quantity');
                const params = new URLSearchParams({ productId, quantity });
                const response = await fetch(new URL(formElement.action + '?' + params));
                const responseBody = await response.json();
                const subtotalElement = document.getElementById(`subTotal_${inputId}`);
                subtotalElement.textContent = responseBody.subtotal;
                const totalElement = document.getElementById('total');
                totalElement.textContent = responseBody.total;
            }
            for (const input of quantityInputs) {
                input.addEventListener('change', onChange);
            }
        };
    </script>
}



