
@model Product
@{
}

<div class="card mb-3 shadow shadow-lg rounded d-flex">
    <div class="card-img-top">
        <img src="@Url.Content("~/"+Model.ImageUrl)" alt="@Model.Name" class="w-100 rounded">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h4 class="card-title">@Model.Name</h4>
            </div>
            <div class="col-6">
                <a asp-action="ProductDetails" 
                   asp-controller="Home" 
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"
                   class="btn btn-outline-secondary btn-sm float-end">Подробнее</a>
            </div>
        </div>
        <p class="card-text">@Model.ShortDescription</p>
        <div class="row">
            <div class="col-6">
                <span class="badge bg-primary">
                    <small>@Model.Price.ToString() руб.</small>
                </span>
            </div>
            <div class="col-6">
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"
                   class="btn btn-dark btn-sm float-end mt-3">В корзину</a>
            </div>
        </div>
    </div>
</div>

