@model Product
@{
}

<div class="card mb-3 shadow-sm rounded" style="width: 30rem;">
    <div class="card-img-top">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="w-100 rounded-top">
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Description</p>
        <div class="row">
            <div class="col-6">
                <span class="badge bg-primary">
                    <small>@Model.Price.ToString() руб.</small>
                </span>
            </div>
            <div class="col-6">
                <form id="@Model.Id">
                    @*asp-page="/Cart" method="post" asp-action="Index" asp-controller="Home">*@
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" name="returnUrl" value="/Index" /> @*"@ViewContext.HttpContext.Request.PathAndQuery()"*@
                    <button type="submit" class="btn btn-dark btn-sm float-end mt-3">В корзину</button>
                </form>
            </div>
        </div>
    </div>
</div>

